
<div ng-controller="myCntrl" ng-style="{'padding':'10px'}">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

   <h1> Client Details Page</h1>

    <br />

        <input type="button" class="btn" value=" Add New Client" ng-click="AddClientDiv()" /><br />
 

    <div class="divList">
        <p class="divHead">Client Details</p>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td><b>Id</b></td>
                <td><b>First Name</b></td>
                <td><b>Surname</b></td>
                <td><b>Identity Type</b></td>
                <td><b>Identity Number</b></td>
                <td><b>Date of Birth</b></td>
                <td><b>Actions</b></td>
            </tr>
            <tr ng-repeat="client in clients">
                <td>
                    {{client.Id}}
                </td>
                <td>
                    {{client.FirstName}}
                </td>
                <td>
                    {{client.LastName}}
                </td>
                <td>
                    {{client.IdentityType}}
                </td>
                <td>
                    {{client.IdentityNumber}}
                </td>
                <td>
                    {{client.DateOfBirth}}
                </td>
                <td>
                    <span ng-click="EditClient(client)" class="btnAdd">Edit Client Details</span>
                    <span ng-click="DeleteClient(client)" class="btnRed">Delete Client</span>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="divClient">
        <p class="divHead">{{Action}} Client</p>
        <table>
            <tr>
                <td><b>Id</b></td>
                <td>
                    <input type="text" disabled="disabled" ng-model="clientId" />
                </td>
            </tr>
            <tr>
                <td><b>Name</b></td>
                <td>
                    <input type="text" ng-model="clientFirstName" />
                </td>
            </tr>
            <tr>
                <td><b>Surname</b></td>
                <td>
                    <input type="text" ng-model="clientLastName" />
                </td>
            </tr>
            <tr>
                <td><b>Identity Type</b></td>
                <td>
                    <select data-ng-options="o.name for o in options" data-ng-model="clientIdentityType"ng-change="update(id);"></select>
                </td>
            </tr>
            <tr>
                <td><b>Identity Number</b></td>
                <td>
                    <input type="text" ng-model="clientIdentityNumber" />
                </td>
            </tr>
            <tr>
                <td><b>Date of Birth</b></td>
                <td>
                    <input type="text" ng-model="clientDateOfBirth" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="btnAdd" value="Save" ng-click="UpdateClient()" />
                </td>
            </tr>
        </table>
    </div>
</div>
